<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">La compétition</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <p>ErgometriX est une compétition d'aviron indoor organisée chaque année par les élèves de l'École polytechnique.
        La grande majorité des épreuves se déroulent avec des rameurs montés sur des glissières (<em>slides</em>). Cela permet de relier plusieurs rameurs entre eux pour simuler un véritable équipage qui doit ramer au même rythme pour avancer. Doubles, quatres et huits sont encore au programme cette année.</p>
        
        <p>De plus, depuis deux ans, ErgometriX est une épreuve qualificative pour la coupe de France universitaire d'aviron indoor avec une épreuve de relais sur 2000m par équipe de quatre. C'est l'occasion pour les plus grandes écoles parisiennes de se tester avant l'épreuve nationale qui se déroule en même temps que les championnats de France d'aviron indoor au Stade Charléty le {insert date here}</p>

        <p>Nouveauté cette année, une épreuve en individuel sur 2000m, avec rameur fixe, pour les plus motivés et les spécialistes de la discipline.</p>

        <p>Depuis plus de 10 ans, c'est plusieurs centaines d'universitaires, de rameurs de club ou simplement d'adeptes d'aviron indoor qui viennent s'essayer dans cette compétition d'un genre un peu particulier. Ambiance et animations sont aussi au rendez-vous avec un buffet offert à tous les participants en fin de journée, et des animations musicales et vidéo assurées par les élèves de l'école tout au long de la compétition.</p>

        <p>Que vous soyez rameur confirmé, amateur averti ou simplement curieux de nouveaux challenges, n'hésitez plus : inscrivez vous!</p>
    </div>
</div>
</div>