<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron well text-center presentation-sect">
        <h1><span class="logo orbitron-face">ErgometriX</span></h1>
        <h3>La compétition d'aviron indoor de l'École polytechnique</h3>
        <h3>Samedi 13 décembre 2014</h3>
        <br />
        <p><a class="btn btn-danger btn-lg" role="button" ui-sref="root.inscription">Inscription</a></p>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron well text-center presentation-sect">
        <h1>Sponsors</h1>
    </div>
</div>
</div>
</div>