/* app css stylesheet */

@font-face{
    font-family : "Orbitron";
    src : url('fonts/orbitron-medium-webfont.ttf') format('truetype'),
           url('fonts/orbitron-medium-webfont.eot') format('eot');
    /*src:url('fonts/orbitron-medium-webfont.woff')format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HAMBH';
    src:url('fonts/HAMBH.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 70px;
}

.orbitron-face {
    font-family: "Orbitron";
}

.backPres {
  background-image: url('img/backViewWB.JPG');
  background-repeat: no-repeat;
  background-position: center center;
}

.presentation-sect {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.bardenav {
  font-size: 16px;
}